# python
__pycache__/
*.pyc

# conda/venv
.venv/
env/
.conda/
miniconda*/
anaconda*/

# builds
build/
cmake-build*/
dist/
*.so
*.a
*.o

# logs
*.log

# data (common)
data/
datasets/
*.zip
*.tar
*.tar.gz
*.7z
*.pt
*.pth
*.ckpt
*.onnx
*.npy
*.npz

# misc
.DS_Store
